html {
    background-color: black;
}
body {
    width: 70%;
    display: block;
    text-align: center;
    padding-left: 15%;
    margin-bottom: 100px;
}
main {
    background: #1a1919cc;
    padding-top: 5%;
    height: 100%;
}

h1, p, li, h2 {
    color: #ffbb00;
}

#nav {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: black;
}

#nav li {
    float:left;
}

#nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 1em;
    text-decoration: none;
}

#nav li :hover {
    color: black;
    background-color: white;
}